.header-icon {
    text-align: center;
    background-color: transparent;
    color: white;
    transition: color 0.3s;
}

.header-link:hover,
.header-icon:hover,
#collapsible-nav-dropdown:hover {
    color: #0dcaf0;
}